@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

.font-style {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style:normal;
  font-size: larger;
}
